body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    margin: 0 15px;
}

.footer-section h2 {
    margin-bottom: 30px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section p {
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info p {
    margin-bottom: 5px;
}

.contact-info i {
    margin-right: 5px;
}