.container
{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}


.logo{
    margin-left: 5px;
    width: 130px;
    height: 100px;
    display: inline-block;
    filter: drop-shadow( 2px 2px 2px red);
}
.nav{

    position:relative;
    top:24px;
    
}



.nav li
{
    display: inline-block;
    margin: 5px;

}